.about-me-containter {
  margin: 0 auto;
  /* border: 2px red solid; */
  width: 80%;
  /* height: 2000px; */
  display: flex;
  flex-direction: column;
  /* margin-bottom: 500px; */
}

.about-title {
  width: 100%;
  text-align: center;
  font-family: "Cormorant Infant", serif;
  font-size: 150%;
  margin-bottom: 100px;
  color: #77835d;
  text-shadow: -1px -1px 0 #353d29, 1px -1px 0 #353d29, -1px 1px 0 #353d29,
    1px 1px 0 #353d29;
  border-bottom: 3px #353d29 solid;
}
.bio-content {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.bio {
  /* background-color: #201d20; */
  border-radius: 25px;
  height: auto;
  width: 30%;
  /* border: 1px blue solid; */
}
.skills {
  margin: 0 auto;
  /* height: 100%; */
  width: 65%;
  border-radius: 25px;
  background-color: #201d20;
  /* border: 1px green solid; */
  display: flex;
  flex-direction: column;
  
}
.skills-header {
height: 5%;
  }
.skills-icons {
  height: 95%;
display: flex;
flex-direction: column;
}
.icon-holder{
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: row;
}
.icon{
  box-sizing: border-box;
  margin: 0  auto;
  width: 22%;
  height: 70%;
  padding: 0.6rem;
  /* filter: brightness(0) invert(0.6); */
}
.skills-header {
  margin: 0;
  height: 10%;
  text-align: center;
  color: #77835d;
}
.skills-header h3 {
  margin: 0;
}
.skills-icons {
  border-radius: 25px;
  height: 100%;
  width: 100%;
}
.bio-img-holder {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  /* border: 1px yellow solid; */
}
.bio-img {
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid #353d29;
  width: 100%;
  height: 100%;
  background-image: url("../images/link.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bio-text {
  box-sizing: border-box;
  height: auto;
  margin: 10px auto;
  background-color: #201d20;
  border-radius: 25px;
  max-width: fit-content;
  text-align: justify;
  padding: 3% 5%;
  color: #77835d;
  width: 80%;
  /* height: 75%; */
  /* border: 1px pink solid; */
}
.bio-text p {
  margin-top: 0;
margin-bottom: 25px;
}
.logo-link {
  margin-bottom: 25px;
  text-decoration: none; /* Remove the underline from the link */
  font-weight: bold;
  color: #77835d; /* Set the text color */
  position: relative; /* Make the link a positioning context */
}
.logo-link:hover {
color: #353d29;
}
.logo-link::after {
  content: ""; /* Required content property */
  display: inline-block; /* Make the pseudo-element inline */
  width: 20px; /* Set the width of the logo */
  height: 20px; /* Set the height of the logo */
  background: url('../images/email.svg') no-repeat center center; /* Add your logo image */
  background-size: contain; /* Adjust the logo size */
  margin-left: 5px; /* Add some spacing between the text and the logo */
}
.logo-link:hover::after {
  color: #77835d; /* Set the text color */
}


.bio-edu {
  text-align: center;
  color: #77835d;
  width: 100%;
  height: 14%;
  /* border: 1px aqua solid; */
}
@media screen and (max-width: 480px) {
  .about-me-containter {
    height: auto;
    width: 100%;
  }
  .about-title {
    margin-bottom: 10px;
  }
  .bio-content {
    flex-direction: column-reverse;
  }
  .bio {
    /* background-color: #201d20; */
    margin-top: 3%;
    border-radius: 25px;
    height: 100%;
    width: 100%;

    /* border: 1px blue solid; */
  }
  .bio-text {
    /* box-sizing: border-box; */

    /* border-radius: 0; */

    font-size: 4.25vw;
    width: 100%;
  }
  .skills {
    /* margin: 0 auto; */
    height: auto;
    width: 100%;
    border-radius: 25px;
    background-color: #201d20;
    /* border: 1px green solid; */
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .about-me-containter {
    height: auto;
    width: 100%;
  }
  .about-title {
    margin-bottom: 10px;
  }
  .bio-content {
    flex-direction: column-reverse;
  }
  .bio {
    /* background-color: #201d20; */
    margin-top: 3%;
    border-radius: 25px;
    height: 100%;
    width: 100%;

    /* border: 1px blue solid; */
  }
  .bio-text {
    /* box-sizing: border-box; */

    /* border-radius: 0; */

    width: 80%;
  }
  .skills {
    /* margin: 0 auto; */
    height: auto;
    width: 100%;
    border-radius: 25px;
    background-color: #201d20;
    /* border: 1px green solid; */
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .about-me-containter {
    height: auto;
    width: 97%;
  }
  .bio-content {
    flex-direction: column-reverse;
  }
  .bio {
    width: 100%;
    /* background-color: #201d20; */
    display: flex;
    flex-direction: row;
  }
  .bio-img-holder {
    margin: auto auto;
    width: 200px;
    height: 200px;
    /* border: 1px yellow solid; */
  }
  .bio-text {
    height: auto;
    width: 60%;
    padding: 4%;
  }
  .skills {
    width: 95%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .about-me-containter {
    height: auto;
    width: 97%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .about-me-containter {
    height: auto;
    width: 90%;
  }
}
@media screen and (min-width: 1920px) {
}
