.about-me-containter {
  margin: 0 auto;
  /* border: 2px red solid; */
  width: 80%;
  /* height: 2000px; */
  display: flex;
  flex-direction: column;
  /* margin-bottom: 500px; */
}

.about-title {
  margin: 0 auto;
  width: fit-content;
  font-family: 'Cormorant Infant', serif;
  font-size: 350%;
  margin-bottom: 75px;
  color: #77835D;
  text-shadow: -1px -1px 0 #353D29, 1px -1px 0 #353D29, -1px 1px 0 #353D29, 1px 1px 0 #353D29;
  border-bottom: 3px #353D29 solid;
}
.bio-content {
  display: flex;
  flex-direction: row;
  /* height: 100%; */
}
.bio {
  /* background-color: #201d20; */
  border-radius: 25px;
  /* height: auto; */
  width: 30%;
  /* border: 1px blue solid; */
}
.bio-header {
  /* height: 5%; */
  background-color: #353d29;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  margin: 0;
  /* height: 10%; */
  text-align: center;
  color: #77835d;
}
.skills {
  margin: 0 auto;

  width: 65%;
  border-radius: 25px;
  background-color: #201d20;
  /* border: 1px green solid; */
  display: flex;
  flex-direction: column;
  
}
.skills-header {

background-color: #353d29;
border-top-right-radius: 25px;
border-top-left-radius: 25px;
margin: 0;

text-align: center;
color: #77835d;
  }
  .skills-header h2 {
    padding: 10px;

  }
.skills-icons {
  /* height: 95%; */
display: flex;
flex-direction: column;
}
.icon-holder{
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: row;
}
.icon{
  box-sizing: border-box;
  margin: 0  auto;
  width: 22%;
  height: 60%;
  padding: 0.6rem;
  /* filter: brightness(0) invert(0.6); */
}

.skills-header h3 {
  margin: 0;
}
.skills-icons {
  border-radius: 25px;
  height: 100%;
  width: 100%;
}
.bio-img-holder {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  /* border: 1px yellow solid; */
}
.bio-img {
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid #353d29;
  width: 100%;
  height: 100%;
  background-image: url("../images/link.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bio-text {
  box-sizing: border-box;

  margin: 14px auto 0;
  /* height: 65%; */
  width: 65%;
  border-radius: 25px;
  background-color: #201d20;
  /* border: 1px green solid; */
  display: flex;
  flex-direction: column;
}
.bio-p {
  color: #77835d;
  /* text-align: justify; */
  margin-top: 0;
margin-bottom: 15px;
padding: 3% 5%;
}
.logo-link {
  width: 100%;
  margin-top: 0;
  margin-bottom: 10px;

  text-decoration: none; /* Remove the underline from the link */
  font-weight: bold;
  color: #77835d; /* Set the text color */
  position: relative; /* Make the link a positioning context */
}
.logo-link:hover {
color: #353d29;
}




@media screen and (max-width: 480px) {
  .about-me-containter {
    height: auto;
    width: 100%;
  }
  .about-title {
    margin-bottom: 10px;
  }
  .bio-content {
    flex-direction: column-reverse;
  }
  .bio {
    /* background-color: #201d20; */
    margin-top: 3%;
    border-radius: 25px;
    height: 100%;
    width: 100%;

    /* border: 1px blue solid; */
  }
  .bio-text {
    /* box-sizing: border-box; */

    /* border-radius: 0; */

    font-size: 4.25vw;
    width: 100%;
  }
  .skills {
    /* margin: 0 auto; */
    height: auto;
    width: 100%;
    border-radius: 25px;
    background-color: #201d20;
    /* border: 1px green solid; */
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  .about-me-containter {
    height: auto;
    width: 100%;
  }
  .about-title {
    margin-bottom: 10px;
  }
  .bio-content {
    flex-direction: column-reverse;
  }
  .bio {
    /* background-color: #201d20; */
    margin-top: 3%;
    border-radius: 25px;
    height: 100%;
    width: 100%;

    /* border: 1px blue solid; */
  }
  .bio-text {
    /* box-sizing: border-box; */

    /* border-radius: 0; */

    width: 80%;
  }
  .skills {
    /* margin: 0 auto; */
    height: auto;
    width: 100%;
    border-radius: 25px;
    background-color: #201d20;
    /* border: 1px green solid; */
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .about-me-containter {
    height: auto;
    width: 97%;
  }
  .bio-content {
    flex-direction: column-reverse;
  }
  .bio {
    width: 100%;
    /* background-color: #201d20; */
    display: flex;
    flex-direction: row;
  }
  .bio-img-holder {
    margin: auto auto;
    width: 200px;
    height: 200px;
    /* border: 1px yellow solid; */
  }
  .bio-text {
    height: auto;
    width: 60%;
    padding: 4%;
  }
  .skills {
    width: 95%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .about-me-containter {
    height: auto;
    width: 97%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .about-me-containter {
    height: auto;
    width: 90%;
  }
}
@media screen and (min-width: 1920px) {
}
