.port-container{
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    background-image: url('../images/artbreeder-pattern.jpg'); /* Set your background image */
 
}
