.try{
    margin-top: 50px;
    height: 25%;
}
.title{
    margin: 0 auto;
}
 .projects{
text-align: center;
 }
.this{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;

}

.img{
    background-color: aqua;
    height: 70%;
    width: 40%;
    position: relative;
    left: -50px;
    /* overflow: visible; */
    background-image: url('../images/artbreeder-pattern.jpg');
    background-size: cover;
    background-position: left center;
}

.content{
    width: 60%;
}